button{
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    box-sizing: border-box;
    font: inherit;
    overflow: visible;
    text-transform: none;
    appearance: button;
    cursor: pointer;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
    padding: 5px 10px;
    border: 1px solid #25682a;
    background: linear-gradient(to bottom, #3FB449 0%, #25682a 100%);
    color: #fff;
    font-weight: bold;
    transition: color .3s, background .3s, opacity, .3s;
    margin: 0 5px 10px 5px;
}

#layout_main_panel_bottom {
    color: white;
    background-color: black;
}

#example-table {
    height: 80vh;
}