<!DOCTYPE html>
<html>
  <head>
    <title>Aigis Toolkit</title>
    <link href="https://unpkg.com/tabulator-tables@6.2.1/dist/css/tabulator_site_dark.min.css" rel="stylesheet" />
    <link href="css/custom.css" rel="stylesheet" />
    <link type="image/png" sizes="32x32" rel="icon" href="icon/icon.gif" />
  </head>
  <body style="background-color: black">
    <div id="header">
      <p style="color: white">
        ★＝過去の緊急/復刻ミッション対象ユニット（刻水晶交換含む）<br />
        ■=期間限定プレミアム召喚/帝国プレミアム召喚/コラボプレミアム召喚のみで入手可能<br />
        ☆=限定入手ユニット<br />
        ◇＝GRコンプリート報酬、魔水晶/虹水晶交換ユニット→交換所<br />
        ◆=シリアルコードでしか入手できないユニット
      </p>
      <button id="clearFilter">clear filter</button>
    </div>
    <div id="example-table"></div>
    <div id="layout_main_panel_bottom"></div>
    <script type="text/javascript" src="https://unpkg.com/tabulator-tables@6.2.1/dist/js/tabulator.min.js"></script>
    <script type="module" src="js/app.js"></script>
  </body>
</html>
